name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  client-lint-and-format:
    name: Client Lint and Format
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: "9"
          run_install: false
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Check linting
        run: pnpm run check:lint
      - name: Check formatting
        run: pnpm run check:format
